<div *ngIf = "isLoggedIn; else loggedOut">

        <h2>Persönliche Daten einsehen und ändern</h2>
        <br>
    
    <div *ngIf = "customerArray">

    <mat-table mat-table [dataSource]="customerArray">
    
        <ng-container matColumnDef="firstname">
            <mat-header-cell *matHeaderCellDef>Vorname</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.firstname}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef>Nachname</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.lastname}} </mat-cell>
              </ng-container>
    
               <ng-container matColumnDef="adressStreet">
            <mat-header-cell *matHeaderCellDef>Straße</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.adressStreet}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="adressHouse">
            <mat-header-cell *matHeaderCellDef>Hausnummer</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.adressHouse}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postalcode">
            <mat-header-cell *matHeaderCellDef>PLZ</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.adress_postalcode.zipcode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef>Ort</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.adress_postalcode.city}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef>Land</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.adress_postalcode.country}} </mat-cell>
        </ng-container>

    
        <mat-header-row *matHeaderRowDef="displayedColumnsCustomer"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCustomer"></mat-row>
    
    </mat-table>

    <br>
    <button class="toggleButton" mat-button (click) = "toggleSelfUpdate()">Änderungen hinzufügen</button>
    <br>

    <div *ngIf ="selfUpdateIsOn">
    <app-self-update></app-self-update>
    </div>
    
    </div>
    
    </div>
    
    <ng-template #loggedOut>
    
        <h1>Bitte einloggen oder registrieren!</h1>
    
    </ng-template>